# Default ignored files
/shelf/
/workspace.xml
/libraries
# Datasource local storage ignored files
/../../../../../../:\Users\Gem\IntelliJIDEAProjects\kiosk\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
